@use "variables";


// BOTÓN

@mixin boton($bg, $color) {
    display: inline-block;
    padding: 12px 24px;
    background-color: $bg;
    color: $color;
    border: none;
    border-radius: variables.$radio-chico;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}