@use "variables" as v;

// FLEX CENTER

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// TARJETAS HOVER

@mixin hover-card($movimiento: -4px) {
    transform: translateY($movimiento);
    box-shadow: v.$sombra;
}


// BOTÓN

@mixin boton($bg, $color) {
    display: inline-block;
    padding: 12px 24px;
    background-color: $bg;
    color: $color;
    border: none;
    border-radius: v.$radio-chico;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}