// ---------------- COLORES ----------------

// Colores MARRONES

$color-primary: #5F2900;
$color-secondary: #A84900;

// Fondos 

$bg-main: #EBE5E7;

// Detalles y bordes

$color-accent: #E8D9CF;

// Colores NEUTROS

$color-blanco: #FFFFFF;
$color-negro: #000000;

// Texto secundario

$color-text-secondary: #555555;


// ---------------- SOMBRAS ----------------

$sombra: 0 10px 22px rgba(95, 41, 0, 0.08);

// ---------------- BORDES ----------------

$radio-chico: 8px;
$radio-grande: 20px;