@use "../utilities/variables";
@use "../utilities/mixins";


footer {
    background-color: variables.$color-primary;
    color: variables.$color-blanco;
    padding: 30px 20px 15px;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        margin-bottom: 5px;
    }

    a {
        color: variables.$color-blanco;
        text-decoration: none;
        font-size: 0.85rem;

        &:hover {
            color: variables.$color-accent;
        }
    }
}


// CONTENEDOR DEL FOOTER

.pie {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


// LOGO

.footerlogo {
    @include m.flex-center;

    figure {
        margin: 0;
        text-align: center;
    }

    img {
        width: 85px;
        height: auto;
        background-color: variables.$color-blanco;
        border-radius: 50%;
        padding: 5px;
    }

    h3 {
        margin: 8px 0 0;
        color: variables.$color-blanco;
        font-size: 1.1rem;
        font-weight: 600;
    }
}


// LINKS Y REDES

.footerlinks,
.redes-pie {
    text-align: center;

    h3 {
        color: variables.$color-blanco;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
}


// COPYRIGHT

.copy {
    width: 100%;
    margin-top: 5px;
    padding-top: 15px;
    border-top: 1px solid variables.$color-accent;
    text-align: center;

    p {
        margin: 0;
        color: variables.$color-blanco;
        font-size: 0.75rem;
    }

    strong {
        color: variables.$color-accent;
    }
}

// ----------------- TABLET --------------

@media (min-width: 768px) {
    .pie {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footerlogo,
    .footerlinks,
    .redes-pie {
        text-align: left;
    }

    .copy {
        flex-basis: 100%;
    }
}

//-------------ESCRITORIO---------

@media (min-width: 1024px) {

    .pie {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 40px;
    }

    .footerlogo {
        justify-content: flex-start;
        text-align: left;
    }

    .footerlinks {
        text-align: left;
    }

    .redes-pie {
        text-align: left;
    }

    .copy {
        flex-basis: 100%;
        width: 100%;
    }
}