@use "../utilities/variables";
@use "../utilities/mixins";

//-----------------------------------------------------------------INDEX----------------------------------------------------------
// HERO INICIO 

.titulo-inicio {
    max-width: 1250px;
    margin: 40px auto 60px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    align-items: center;
}

.texto-inicio {

    h1 {
        margin-bottom: 20px;

        font-size: 3rem;
        line-height: 1.15;
        font-weight: 600;
        color: variables.$color-primary;

        strong {
            color: variables.$color-secondary;
        }
    }

    p {
        margin-bottom: 25px;
    }
}

.imagen-inicio {
    margin: 0;

    img {
        width: 100%;
        height: 280px;

        object-fit: cover;
        border-radius: variables.$radio-grande;
        box-shadow: variables.$sombra;
    }

    figcaption {
        margin-top: 8px;

        font-size: 0.75rem;
        font-style: italic;
        color: variables.$color-text-secondary;

        text-align: right;
    }
}

// POR QUÉ ELEGIRNOS

.porque-elegirnos {
    max-width: 1100px;
    width: 90%;
    margin: 70px auto;
    padding: 35px 25px;
    background-color: variables.$color-blanco;
    border: 1px solid variables.$color-accent;
    border-radius: variables.$radio-grande;
    box-shadow: variables.$sombra;
    text-align: center;
}

.encabezado-seccion {
    max-width: 650px;
    margin: 0 auto 45px;
    text-align: center;

    span {
        display: block;
        margin-bottom: 10px;
        color: variables.$color-secondary;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    h2 {
        margin-bottom: 14px;
        font-size: 2.2rem;
        font-weight: 600;
        color: variables.$color-primary;
    }

    p {
        max-width: 620px;
        margin: 0 auto;
    }
}

.beneficios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
}


// FAVORITOS

.nuestros-favoritos {
    max-width: 1250px;
    margin: 80px auto;
    padding: 20px;

    display: grid;
    grid-template-areas:
        "titulo"
        "favoritos";
    grid-template-columns: 1fr;
    gap: 2rem;
}

.encabezado-favoritos {
    grid-area: titulo;
    margin-bottom: 35px;
    text-align: center;
}

.contenedor-favoritos {
    grid-area: favoritos;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

// CARRUSEL

.galeria {
    max-width: 1100px;
    width: 90%;
    margin: 80px auto;
}

.encabezado-galeria {
    margin-bottom: 35px;
    text-align: center;

    span {
        display: block;
        margin-bottom: 10px;
        color: variables.$color-secondary;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    h2 {
        margin-bottom: 12px;
        color: variables.$color-primary;
    }

    p {
        max-width: 600px;
        margin: 0 auto;
    }
}

#carouselCamila {
    overflow: hidden;

    border-radius: variables.$radio-grande;
    box-shadow: variables.$sombra;

    .carousel-item {
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}

// --------------------CONTENEDOR GENERAL DE CADA PESTAÑA-------------------------

.contenedor {

    @include mixins.flex(center, column);

    max-width: 1200px;
    width: 90%;
    margin: 70px auto 90px;
    padding: 55px 30px;

    background-color: variables.$color-blanco;
    border-radius: variables.$radio-grande;
    box-shadow: variables.$sombra;

    text-align: center;
    overflow: hidden;

    h1 {
        display: block;
        margin-bottom: 15px;

        color: variables.$color-secondary;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    h2 {
        margin-bottom: 0;

        color: variables.$color-primary;
        font-size: 2.4rem;
        font-weight: 600;
    }

    &::before {
        content: "";
        display: block;
        width: 100px;
        height: 5px;
        margin: -55px auto 35px;
        background-color: variables.$color-secondary;
        border-radius: 0 0 20px 20px;
    }
}


// ------------------------------------------------------------------ SERVICIOS -----------------------------------------------

.cafe-caliente,
.cafe-frio,
.pasteleria {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto 70px;

    h2 {
        margin-bottom: 30px;
        text-align: center;
        color: variables.$color-primary;
    }
}

.contenedor-calientes,
.contenedor-frios,
.contenedor-tortas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}



// ---------------- SOBRE NOSOTROS ----------------

// HISTORIA

.historia {
    max-width: 1100px;
    width: 90%;
    margin: 40px auto 70px;
    padding: 40px 25px;

    background-color: variables.$color-blanco;
    border: 1px solid variables.$color-accent;
    border-radius: variables.$radio-grande;
    box-shadow: variables.$sombra;

    overflow: hidden;

    h2 {
        margin-bottom: 25px;
        color: variables.$color-primary;
        text-align: left;
        font-size: 2rem;
    }

}


// NUESTRA ESENCIA

.esencia {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto 70px;

    h2 {
        text-align: center;
        margin-bottom: 35px;
        color: variables.$color-primary;
    }
}

.contenedor-esencia {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


// ESPACIO

.cafeteria {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto 80px;
}

.cafeteria-nosotros {
    @include mixins.flex(center, column);
    gap: 25px;

    h2 {
        text-align: center;
    }

    figure {
        margin: 0;
        width: 100%;
    }

    img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        border-radius: variables.$radio-grande;
        box-shadow: variables.$sombra;
    }

    figcaption {
        margin-top: 8px;
        font-size: 0.8rem;
        font-style: italic;
        color: variables.$color-text-secondary;
        text-align: right;
    }
}

// ---------------- PREGUNTAS FRECUENTES ----------------

.preguntas-frecuentes {
    max-width: 900px;
    width: 90%;
    margin: 0 auto 80px;

    >h2 {
        margin-bottom: 30px;
        color: variables.$color-primary;
        text-align: center;
    }
}

.accordion {
    --bs-accordion-border-color: #{variables.$color-accent};
    --bs-accordion-border-radius: #{variables.$radio-grande};
}


// ---------------- CONTACTO ----------------

.contacto {
    margin-bottom: 40px;
}

.informacion {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto 50px;

    >h2 {
        margin-bottom: 30px;
        text-align: center;
        color: variables.$color-primary;
    }
}

.texto-info {
    max-width: 600px;
    margin: 0 auto 35px;
    text-align: center;
}

.contenedor-informacion {
    @include mixins.flex(center, column);
    gap: 20px;
}

// FORMULARIO DE CONTACTO

.formulario {
    width: 90%;
    max-width: 900px;
    margin: 40px auto 80px;
    padding: 30px 25px;

    background-color: variables.$color-blanco;
    border: 1px solid variables.$color-accent;
    border-radius: variables.$radio-grande;
    box-shadow: variables.$sombra;

    h2 {
        margin-bottom: 25px;
        color: variables.$color-primary;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.informaciondecontacto {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
        color: variables.$color-primary;
        font-weight: 500;
    }

    input,
    textarea {
        width: 100%;
        padding: 12px 15px;
        border: 1px solid variables.$color-accent;
        border-radius: variables.$radio-chico;
        font-family: inherit;
    }

    textarea {
        resize: vertical;
    }
}


// ---------------------------------TABLET---------------

@media (min-width: 768px) {

    //---------------------- INDEX------------------------------

    .titulo-inicio {
        grid-template-columns: 1fr 1fr;
        gap: 45px;
    }

    .texto-inicio {
        h2 {
            font-size: 3rem;
        }
    }

    .imagen-inicio {
        img {
            height: 350px;
        }
    }

    .porque-elegirnos {
        padding: 45px 40px;
    }

    .beneficios {
        grid-template-columns: repeat(2, 1fr);
    }

    .contenedor-favoritos {
        grid-template-columns: repeat(2, 1fr);
    }

    #carouselCamila {
        .carousel-item {
            img {
                height: 430px;
            }
        }
    }

    // --------------------CONTENEDOR GENERAL DE CADA PESTAÑA-------------------------

    .contenedor {
        padding: 65px 50px;

        h2 {
            font-size: 3rem;
        }
    }


    // -------------------------- SERVICIOS ----------------

    .contenedor-calientes,
    .contenedor-frios,
    .contenedor-tortas {
        grid-template-columns: repeat(2, 1fr);
    }

    //--------------------------SOBRE NOSOTROS-----------------------

    .contenedor-esencia {
        flex-direction: row;

    }

    .historia {
        p {
            text-align: justify;
        }
    }

    .cafeteria-nosotros {
        img {
            height: 420px;
        }
    }

    //--------------- CONTACTO---------

    .contenedor-informacion {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .informacion {
        >h2 {
            font-size: 2rem;
        }
    }

    // FORMULARIO DE CONTACTO

    .formulario {
        max-width: 800px;
        padding: 40px;

        form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }

    .informaciondecontacto {
        width: 100%;

        input,
        textarea {
            width: 100%;
        }

        &:last-of-type {
            grid-column: 1 / -1;
        }
    }

    .boton-formulario {
        grid-column: 1 / -1;
        justify-self: center;
    }



}




// ---------------------ESCRITORIO------------------------------

@media (min-width: 1024px) {

    // ------------------------INDEX-------------------------

    .titulo-inicio {
        grid-template-columns: 1.1fr 0.9fr;
        gap: 60px;
    }

    .texto-inicio {
        h2 {
            font-size: 3.5rem;
        }
    }

    .imagen-inicio {
        img {
            height: 400px;
        }
    }

    .porque-elegirnos {
        padding: 45px 50px;
    }

    .beneficios {
        grid-template-columns: repeat(3, 1fr);
    }

    .contenedor-favoritos {
        grid-template-columns: repeat(3, 1fr);
    }

    #carouselCamila {
        .carousel-item {
            img {
                height: 520px;
            }
        }
    }

    // --------------------CONTENEDOR GENERAL DE CADA PESTAÑA-------------------------

    .contenedor {
        padding: 75px 80px;

        h2 {
            font-size: 3.6rem;
        }
    }


    // ------------------------- SERVICIOS -------------------

    .contenedor-calientes,
    .contenedor-frios,
    .contenedor-tortas {
        grid-template-columns: repeat(3, 1fr);
    }

    //-------------------------SOBRE NOSOTROS------------------

    .cafeteria-nosotros {
        img {
            height: 500px;
        }
    }

    //------------------------CONTACTO--------------
    .contenedor-informacion {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 30px;
    }

    //FORMULARIO DE CONTACTO

    .formulario {
        max-width: 950px;
        padding: 50px 60px;

        form {
            column-gap: 35px;
            row-gap: 25px;
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 30px;
        }
    }

    .informaciondecontacto {
        gap: 10px;

        input,
        textarea {
            padding: 14px 16px;
        }
    }

}