@use "../utilities/variables";
@use "../utilities/mixins";

.boton-inicio {

    @include mixins.boton(
        variables.$color-primary,
        variables.$color-blanco);

    &:hover {
        background-color: variables.$color-secondary;
        color: variables.$color-blanco;
    }
}

.boton-formulario {
    @include mixins.boton(
        variables.$color-blanco,
        variables.$color-primary
    );

    align-self: center;

    &:hover {
        background-color: variables.$color-secondary;
        color: variables.$color-blanco;
    }
}