@use "../utilities/variables";

// tarjeta base para extend

%tarjeta-base {
    background-color: variables.$color-blanco;
    border: 1px solid variables.$color-accent;
    border-radius: variables.$radio-grande;
}

//animacion base para extend

%animacion-tarjeta {
    transition: transform 300ms ease-out;

    &:hover {
        border-color: variables.$color-secondary;
        transform: translate(0, -10px) scale(1.05, 1.05);
    }
}

//animacion nuestra escencia 

@keyframes efecto-esencia {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.05, 1.05);}
    100% {transform: scale(1, 1);}
}

// tarjetas de POR QUE ELEGIRNOS

.beneficio {

    @extend %tarjeta-base;
    @extend %animacion-tarjeta;

    padding: 26px 24px;
    text-align: center;


    h3 {
        margin-bottom: 8px;
        font-size: 1.05rem;
        font-weight: 500;
        color: variables.$color-primary;
    }

    p {
        margin: 0;
    }
}

// tarjeta de FAVORITOS

.favoritos {

    @extend %tarjeta-base;
    @extend %animacion-tarjeta;
    padding: 1.25rem;
    overflow: hidden;

    figure {
        margin: 0;
    }

    img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        border-radius: variables.$radio-chico;
    }

    figcaption {
        padding: 8px 18px 0;
        font-size: 0.75rem;
        font-style: italic;
        color: variables.$color-text-secondary;
    }

}

.texto-favoritos {
    padding: 18px;

    h3 {
        margin-bottom: 10px;
        color: variables.$color-secondary;
        text-align: center;
    }

    p {
        margin: 0;
        text-align: center;
    }
}


// -------------------------------------------------------SERVICIOS----------------------------------------

// tarjeta PRODUCTOS

.calientes,
.frio,
.tortas {

    @extend %tarjeta-base;
    @extend %animacion-tarjeta;
    overflow: hidden;
    padding: 0;

    figure {
        margin: 0;
    }

    img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }

    figcaption {
        padding: 8px 18px 0;

        font-size: 0.75rem;
        font-style: italic;
        color: variables.$color-text-secondary;
    }

    h3 {
        padding: 15px 18px 0;
        color: variables.$color-secondary;
        text-align: center;
        font-size: 1.2rem;
    }

    p {
        padding: 0 18px 20px;
        margin: 0;
        text-align: center;
    }

}

// ----------------------------------------------------SOBRE NOSOTROS----------------------


// tarjeta NUESTRA ESENCIA

.historia-esencia {

    @extend %tarjeta-base;

    animation-name: efecto-esencia;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count:3;

    flex: 1;
    padding: 30px 25px;
    text-align: center;


    h3 {
        margin-bottom: 10px;
        color: variables.$color-secondary;
    }

    p {
        margin: 0;
    }
}

// -------------------------------------------------- FAQ ---------------------


// tarjeta ACORDEÓN

.accordion-item {
    margin-bottom: 15px;
    overflow: hidden;

    border: 1px solid variables.$color-accent !important;
    border-radius: variables.$radio-grande !important;
}

.accordion-button {
    padding: 20px 25px;

    color: variables.$color-primary;
    background-color: variables.$color-blanco;

    font-weight: 600;
    box-shadow: none !important;

    &:not(.collapsed) {
        color: variables.$color-secondary;
        background-color: variables.$bg-main;
        box-shadow: none;
    }

    &:focus {
        border-color: variables.$color-accent;
        box-shadow: none;
    }
}

.accordion-body {
    padding: 20px 25px;
    background-color: variables.$color-blanco;
}

//-----------------------------CONTACTO----------------------------------------------------------

// tarjeta CONTACTO

.ubis {

    @extend %tarjeta-base;
    @extend %animacion-tarjeta;
    flex: 1;
    width: 100%;
    padding: 30px 25px;
    text-align: center;


    h3 {
        margin-bottom: 12px;
        color: variables.$color-secondary;
        font-size: 1.15rem;
    }

    p {
        margin: 0;
        font-size: 0.95rem;
    }
}

// ----------------------TABLET----------------------

@media (min-width: 768px) {

    .favoritos {
        img {
            height: 340px;
        }
    }

    // -------------------------------------------------------SERVICIOS----------------------------------------

    .calientes,
    .frio,
    .tortas {

        img {
            height: 320px;
        }
    }

    // -------------------------------------------------- FAQ ---------------------

    .preguntas-frecuentes {
        width: 85%;
        max-width: 800px;
        margin-bottom: 70px;

        >h2 {
            font-size: 2rem;
        }
    }

    .accordion-button {
        padding: 20px 22px;
        font-size: 1rem;
    }

    .accordion-body {
        padding: 20px 22px;
        font-size: 0.95rem;
    }

}


// -------------------ESCRITORIO---------------

@media (min-width: 1024px) {

    .favoritos {
        img {
            height: 360px;
        }
    }

    // -------------------------------------------------------SERVICIOS----------------------------------------

    .calientes,
    .frio,
    .tortas {

        img {
            height: 350px;
        }
    }

    // -------------------------------------------------- FAQ ---------------------

    .preguntas-frecuentes {
        max-width: 900px;
        width: 80%;
        margin-bottom: 90px;

        >h2 {
            font-size: 2.2rem;
            margin-bottom: 35px;
        }
    }

    .accordion-button {
        padding: 22px 25px;
        font-size: 1.05rem;
    }

    .accordion-body {
        padding: 22px 25px;
        font-size: 1rem;
    }

    //--------------------------------CONTACTO--------------

    .ubis {
        min-width: 0;
        padding: 35px 30px;
    }

}